<% var title = 'Im Playing' %>
<% include head %>
<% include auth_menu %>
<h2><%= game.name %></h2>
<h4><a href="/logsession">Log a session</a></h4>
<a href="<%= game.bggLink %>">BGG Link</a><br>
Number of players: <%= game.numberOfPlayers %><br>
Description: <%= game.description %><br><br>
Number of registered plays:<br><br>

<% if (user.name === "martin") { %>
<a href="/delete/<%= game._id %>">Delete</a>
<% } %>
<% include foot %>
