<% include head %>
<% include auth_menu %>
<h2><%= game.name %></h2>

<% if (game.bggLink && game.bggLink != "undefined") { %>
<a href="<%= game.bggLink %>">BGG Link</a><br>
<% } %>

<% if (game.description) { %>
Description: <%= game.description %><br><br>
<% } %>





<a href="/editgame/<%= game._id %>">Edit</a>

<% if (user.name === "martin") { %>
<a href="/deletegame/<%= game._id %>">Delete</a>
<% } %>
<% include foot %>
