<% include head %>
<% include auth_menu %>
<h3>Log a new gaming session</h3>
<form name="input" action="/logsession" method="post">
Game name:<br>
<select name="gamespicker">
<% games.forEach(function(game){ %>
	<% if (locals.selectedGameId){ %>
		<% if(game._id.equals(locals.selectedGameId)){ %>
			<option selected="selected" name="<%= game.name %>" value="<%= game._id %>,<%= game.name %>"><%= game.name %></option>
		<% } %>
	<%}else{%>
  		<option name="<%= game.name %>" value="<%= game._id %>,<%= game.name %>"><%= game.name %></option>
  	<% } %>
<% }) %>
</select>
<br>
Date:<br><input id="datePicker" type="date" name="date"><br>
Summary (optional)<br><textarea rows="5" cols="50" name="summary"></textarea><br>
<input type="submit" value="Submit">
</form>
<script>
document.getElementById('datePicker').valueAsDate = new Date();
</script>
<% include foot %>
