<% include head %>
<% include auth_menu %>
<div class="container">
<% if (sessions) { %>
<h3>Latest sessions played</h3>
  <ul>
    <% sessions.forEach(function(session){ %>
      <li><%= session.userName %> played <%= session.gameName %> on <%= session.date.getDate() %>/<%= session.date.getMonth()+1 %>/<%= session.date.getFullYear() %>
        <% if (session.summary) { %>
            <ul><li>Summary: <%= session.summary %> </li></ul>
        <% } %>
      </li>
    <% }) %>
  </ul>
<% } %>

<% if (games) { %>
<h3>Latest games added</h3>
  <ul>
    <% games.forEach(function(game){ %>
      <a href="/game/<%= game._id %>"><li><%= game.name %></a></li>
    <% }) %>
  </ul>
<% } %>

</div>
<% include foot %>
