<% if (sessions) { %>
  <ul class="list-group">
    <% sessions.forEach(function(session){ %>
      <li class="list-group-item"><img src="http://www.gravatar.com/avatar/900dfc7b168a783311d88d4b3dcef4b6" /><b><%= session.userName %></b> played <b><%= session.gameName %></b> on <%= session.date.getDate() %>/<%= session.date.getMonth()+1 %>/<%= session.date.getFullYear() %>
        <% if (session.summary) { %>
            <ul><li><%= session.summary %> </li></ul>
        <% } %>
      </li>
    <% }) %>
  </ul>
<% } %>