<% include head %>
<% include auth_menu %>

<% if (userEdit.displayName) { %>
<b><%= userEdit.displayName %></b>
<% } else { %>
<b><%= userEdit.name %></b>
<% } %>
<br>
<% if (userEdit.gravatarHash) { %>
<img class="profile" src="http://www.gravatar.com/avatar/<%= userEdit.gravatarHash %>" />
<% } %>
<br>
<% if (locals.numberOfSessions) { %>
<b>Number of sessions:</b> 
<%= locals.numberOfSessions %>
<% } %>
<br>
<% if (userEdit.bggLink) { %>
<a href="<%= userEdit.bggLink %>">Boardgame Geek Profile</a>
<% } %>
<br>
<% if (userEdit.bgLink) { %>
<a href="<%= userEdit.bgLink %>">Boardgaming Profile</a>
<% } %>

<% if (locals.gamesList) { %>
<h4>Games played</h4>
<ul class="hasplayed">
<% for(var key in locals.gamesList){ %>
<li class="hasplayed-item"><div class="hasplayed-link"><a href="/game/<%= key %>"><%= locals.gamesList[key] %></a></div></li>
<% } %>
<% } %>
</ul>
<% if (locals.sessions.length > 0) { %>
<h4>Latest sessions</h4>
<ul class="profile">
<% for(var i=0; i < locals.sessions.length && i < 4; i++){ %>
<li>
<a href="/session/<%= locals.sessions[i]._id %>"><%= locals.sessions[i].gameName %></a>
on <%= locals.sessions[i].date.getDate() %>/<%= locals.sessions[i].date.getMonth()+1 %>/<%= locals.sessions[i].date.getFullYear() %> - <%= locals.sessions[i].summary %>
</li>
<% } %>
</ul>
<% } %>
<% if (user.name === userEdit.name) { %>
<a href="/edituser/<%= userEdit._id %>">Edit</a>
<a href="/deleteuser/<%= user._id %>">Delete</a>
<% } %>
<% include foot %>
